@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 100;
  display: swap;
  src: url('/fonts/IRANSansX/fonts/woff/IRANSansX-Thin.woff') format('woff'),
    url('/fonts/IRANSansX/fonts/woff2/IRANSansX-Thin.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 200;
  display: swap;
  src: url('/fonts/IRANSansX/fonts/woff/IRANSansX-UltraLight.woff')
      format('woff'),
    url('/fonts/IRANSansX/fonts/woff2/IRANSansX-UltraLight.woff2')
      format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  display: swap;
  src: url('/fonts/IRANSansX/fonts/woff/IRANSansX-Light.woff') format('woff'),
    url('/fonts/IRANSansX/fonts/woff2/IRANSansX-Light.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: url('/fonts/IRANSansX/fonts/woff/IRANSansX-Regular.woff') format('woff'),
    url('/fonts/IRANSansX/fonts/woff2/IRANSansX-Regular.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  display: swap;
  src: url('/fonts/IRANSansX/fonts/woff/IRANSansX-Medium.woff') format('woff'),
    url('/fonts/IRANSansX/fonts/woff2/IRANSansX-Medium.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 600;
  display: swap;
  src: url('/fonts/IRANSansX/fonts/woff/IRANSansX-DemiBold.woff') format('woff'),
    url('/fonts/IRANSansX/fonts/woff2/IRANSansX-DemiBold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: url('/fonts/IRANSansX/fonts/woff/IRANSansX-Bold.woff') format('woff'),
    url('/fonts/IRANSansX/fonts/woff2/IRANSansX-Bold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 800;
  display: swap;
  src: url('/fonts/IRANSansX/fonts/woff/IRANSansX-ExtraBold.woff')
      format('woff'),
    url('/fonts/IRANSansX/fonts/woff2/IRANSansX-ExtraBold.woff2')
      format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  display: swap;
  src: url('/fonts/IRANSansX/fonts/woff/IRANSansX-Black.woff') format('woff'),
    url('/fonts/IRANSansX/fonts/woff2/IRANSansX-Black.woff2') format('woff2');
}
